<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damn This Awful Modernity</title>
</head>
<nav>
    <a href="./homepage.handlebars">HOMEPAGE</a>
    <a href="./muttcoin.handlebars"></a>
    <a href="./anotherlink.handlbars">third link</a>
</nav>
<body>
    
</body>
</html>