<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutt Coin</title>
</head>
<nav>
    <a href="./homepage.handlebars" style="color: black;">HOMEPAGE</a>
    <a href="./wallet.handlebars" style="color: black;">Wallet</a>
    <a href="./muttcoin.html" >About MUTT</a>
</nav>
<body>
    
</body>
</html>