<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUTT Wallet</title>
</head>
<nav>
    <a href="./homepage.handlebars">HOMEPAGE</a>
    <a href="./MUTTCOIN.handlebars">About MUTT</a>
    <a href="./anotherlink.handlbars">third link</a>
</nav>
<body>
    <h1>Header in the body because I can, buzz off</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aperiam, consequatur voluptatum quidem id vel odio cumque illo a tempora corporis labore incidunt in ducimus ullam! Culpa tenetur rem quidem.
    </p>
    <a href="../AAH.jpg">LE RAGE FACE</a>
    <p>
        Better than nothing, but not by much. Worse than everything, because of a lot. Opposite phrases make for opposing meaning. Pretention is pretentious.
    </p>
</body>
</html>