<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muttcoin</title>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<nav>
    <a href="./homepage.handlebars" style="color: black;">HOMEPAGE</a>
    <a href="./wallet.handlebars" style="color: black;">Wallet</a>
    <a href="./muttcoin.handlebars">About MUTT</a>
</nav>
<body class="light-blue lighten-4">
    <h1 style="text-align: center;">About MUTT</h1>
    <p>
        Mutt is a cryptocurrency wallet service.
    </p>
{{{body}}}
</body>
</html>