<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutt Coin</title>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<nav>
    <h1 style="text-align: center;"></h1>
    <a href="./homepage.handlebars">HOMEPAGE</a>
    <a href="./wallet.handlebars" style="color: black;">Wallet</a>
    <a href="./muttcoin.handlebars">About MUTT</a>
</nav>
{{{body}}}

<div class="w3-display-container w3-green" style="height:300px;">
  
  <div class="w3-display-middle">Middle</div>

</div>


<body class="light-blue lighten-4">
    
</body>
</html>